# Ignore .env file
.env

# ignore .exe files
*.exe

# ignore logfile
*.log

# ignore jupyter
*.ipynb

# pycache
*.pyc

# ignore Excel Files
*.xlsx

# ignore GitHub Link
github.txt

# ignore Images
.jpg

